# backend t2
zain-backend/.env
zain-backend/.pylintrc
zain-backend/elastic_config.json
zain-backend/venv/
zain-backend/media/

zain-backend/account/migrations/__pycache__/
zain-backend/account/__pycache__/

zain-backend/notification/migrations/__pycache__/
zain-backend/notification/__pycache__/
zain-backend/blog/__pycache__/
zain-backend/blog/migrations/__pycache__/
zain-backend/t2/__pycache__/
zain-backend/__pycache__/

zain-backend/.venv
zain-backend/fvenv
zain-backend/images
zain-backend/blog/management/commands/__pycache__/

#frontend

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
zain-blog-ui/node_modules
zain-blog-ui/.pnp
zain-blog-ui/.pnp.js

# testing
zain-blog-ui/coverage

# production
zain-blog-ui/build

# misc
zain-blog-ui/.DS_Store
zain-blog-ui/.env.local
zain-blog-ui/.env.development.local
zain-blog-ui/.env.test.local
zain-blog-ui/.env.production.local

zain-blog-ui/npm-debug.log*
zain-blog-ui/yarn-debug.log*
zain-blog-ui/yarn-error.log*
zain-blog-ui/_gsdata_

zain-blog-ui/.env

#extra files
zain-blog-ui/src/wrappers/blog/BlogLikes.js



#admin
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
zain-admin-ui/node_modules
zain-admin-ui/.pnp
zain-admin-ui/.pnp.js

# testing
zain-admin-ui/coverage

# production
zain-admin-ui/build
zain-admin-ui/dist
zain-admin-ui/demo-*
zain-admin-ui/.env

# misc
zain-admin-ui/.DS_Store
zain-admin-ui/.env.local
zain-admin-ui/.env.development.local
zain-admin-ui/.env.test.local
zain-admin-ui/.env.production.local

zain-admin-ui/npm-debug.log*
zain-admin-ui/yarn-debug.log*
zain-admin-ui/yarn-error.log*

zain-admin-ui/.docz
zain-admin-ui/.eslintcache
zain-admin-ui/.vscode


zain-admin-ui/views/misc.js



